.img-hover-zoom--colorize img {
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(15%);
}

.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.03);
}
